automation/n8n-workflows/04-lead-search.json
{
  "name": "04 - Daily Lead Search Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "recurrenceType": "days",
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 200]
    },
    {
      "parameters": {
        "url": "=https://www.instagram.com/explore/tags/miamiphotographer/",
        "method": "GET",
        "authentication": "none"
      },
      "id": "search-instagram",
      "name": "Search Instagram Hashtags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 200],
      "notes": "Note: In production, use Instagram Basic Display API with proper authentication"
    },
    {
      "parameters": {
        "code": "// Filter profiles by follower count and engagement\nconst filtered = [];\nreturn filtered;"
      },
      "id": "filter-profiles",
      "name": "Filter Quality Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericCredentialType": {
          "authentication": "httpHeaderAuth",
          "generic": {
            "headers": {
              "Authorization": "Bearer {{ env.ANTHROPIC_API_KEY }}",
              "Content-Type": "application/json"
            }
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-opus-4-7"
            },
            {
              "name": "max_tokens",
              "value": "150"
            },
            {
              "name": "messages",
              "value": "[{\"role\":\"user\",\"content\":\"Generate a personalized Instagram DM for this profile: @{{ $json.username }} - {{ $json.bio }}\"}]"
            }
          ]
        }
      },
      "id": "generate-message",
      "name": "Generate Personalized Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericCredentialType": {
          "authentication": "httpHeaderAuth",
          "generic": {
            "headers": {
              "Authorization": "Bearer {{ env.NOTION_API_KEY }}",
              "Notion-Version": "2022-06-28"
            }
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "parent",
              "value": "{\"database_id\":\"{{ env.NOTION_LEADS_DB_ID }}\"}"
            },
            {
              "name": "properties",
              "value": "{\"Nombre\":{\"title\":[{\"text\":{\"content\":\"@{{ $json.username }}\"}}]},\"Estado\":{\"select\":{\"name\":\"Lead Encontrado\"}},\"Canal\":{\"select\":{\"name\":\"Instagram DM\"}},\"Mensaje\":{\"rich_text\":[{\"text\":{\"content\":\"{{ $json.personalizedMessage }}\"}}]}}"
            }
          ]
        }
      },
      "id": "add-to-notion",
      "name": "Add Lead to Notion CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "=https://maikphotographer-web-site.vercel.app/api/send-email",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "maikelmarshall07@gmail.com"
            },
            {
              "name": "subject",
              "value": "📊 Daily Lead Search Report"
            },
            {
              "name": "html",
              "value": "<div style='padding: 20px; background: #0a0a0a; color: white;'><h2>Daily Lead Report</h2><p>Found {{ $json.leadsCount || 0 }} potential leads today</p></div>"
            }
          ]
        }
      },
      "id": "send-report",
      "name": "Send Daily Report to Maikel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 200]
    }
  ],
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Search Instagram Hashtags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Instagram Hashtags": {
      "main": [
        [
          {
            "node": "Filter Quality Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Quality Profiles": {
      "main": [
        [
          {
            "node": "Generate Personalized Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Message": {
      "main": [
        [
          {
            "node": "Add Lead to Notion CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Lead to Notion CRM": {
      "main": [
        [
          {
            "node": "Send Daily Report to Maikel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "meta": {
    "instanceId": "uuid"
  },
  "pinData": {}
}
